beautifulsoup4
fake_useragent
keras
lxml
matplotlib
numpy
opencv-python
pandas
pillow
projectq
qiskit
requests
rich
scikit-fuzzy
scikit-learn
statsmodels
sympy
tabulate
ta-lib
pandas_ta
tensorflow-gpu
texttable
termcolor
tweepy
xgboost
yulewalker
